.cover {
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
    background-image: url('../../images/cover-trains.jpg');
    -o-object-fit: contain;
        object-fit: contain;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #000;
    opacity: 0.3;
    -webkit-transition: opacity 350ms ease;
        -o-transition: opacity 350ms ease;
            transition: opacity 350ms ease;
}

.cover:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover {
        min-height: 62.5vw;
    }
}