.cover__title {
    width: 560px;
    min-height: fit-content;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0 auto 32px;
}

@media screen and (max-width: 768px) {
    .cover__title {
        width: 420px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 425px) {
    .cover__title {
        width: 288px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 16px;
    }
}